# Скомпилированный код
/target/
/out/
*.class

# Настройки IntelliJ IDEA (лучше игнорировать всю папку)
.idea/
*.iml
*.iws
*.ipr

# Логи (если приложение их пишет)
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Конфиденциальные данные (если есть .env файлы с паролями к БД)
.env